# API Configuration
# API URL untuk backend (jika ada) - tanpa trailing slash
VITE_API_URL=http://localhost:3000/api

# Supabase Configuration
VITE_SUPABASE_URL=https://oapbpywsvgzegrhfhghn.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_2e3hma5Eo6DXz6_i034kDQ_rQl9lOhK